{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <div class="p-5 bg-dark border  rounded-3" style="color:blanchedalmond;">
        <h1>JOLC</h1>
        <p>
            Generador de C3D
        </p>
        <small class="text-secondary" >German José Paz Cordón</small>
        </br>
        <small class="text-secondary">201902934</small>
        </br>
        <small class="text-secondary">Seccion N</small>
    </div>
</main>

{% endblock %}